<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="~{/layout::library}"/>
</head>
<body>
<th:block th:insert="~{/layout::navbar}"/>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white">
                    <h4 th:text="#{table.detail}">Chi tiết</h4>
                </div>
                <div class="card-body">
                    <p><strong>ID:</strong> <span th:text="${student.id}"></span></p>
                    <p><strong th:text="#{table.name} + ':'">Tên:</strong> <span th:text="${student.name}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>