<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="~{/layout::library}"/>
</head>
<body>
<th:block th:insert="~{/layout::navbar}"/>
<div class="container">
    <h3 th:text="#{table.title}"></h3>
    <div class="d-flex justify-content-between px-5 py-3">
        <a class="btn btn-sm btn-primary" href="/students/add" th:text="#{add.title}"></a>
        <form class="d-flex" action="/students" method="get">
            <input class="form-control form-control-sm" name="searchName" th:placeholder="#{search.value}"
                   th:value="${searchName}">
            <button class="btn btn-sm btn-success text-nowrap" th:text="#{search.button}"></button>
        </form>
    </div>

    <table class="table table-dark table-striped">
        <tr>
            <th th:text="#{table.no}"></th>
            <th>ID</th>
            <th th:text="#{table.name}"></th>
            <th th:text="#{table.gender}"></th>
            <th th:text="#{table.class}"></th>
            <th th:text="#{table.detail}"></th>
            <th th:text="#{table.detail}"></th>
        </tr>
        <tr th:each="student,status:${studentPage.content}">
            <td th:text="${status.count}"></td>
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:switch="${student.gender}">
                <span th:case="1" th:text="'Male'"></span>
                <span th:case="0" th:text="'Female'"></span>
                <span th:case="-1" th:text="'LGBT'"></span>
            </td>

            <td th:text="${student.classCG.name}"></td>
            <td>
                <a class="btn btn-sm btn-primary" th:href="@{/students/detail(id=${student.id})}"
                   th:text="#{table.detail}"></a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" th:href="@{students/detail/__${student.id}__}"
                   th:text="#{table.detail}"></a>
            </td>
        </tr>
        <tr  th:if="${studentPage.totalPages==0}">
            <td style="background-color: cornsilk; color: red" colspan="7"  th:text="#{table.empty}"></td>
        </tr>
    </table>


    <a th:if="${studentPage.hasPrevious()}"
       th:href="@{/students(page=${studentPage.number - 1},searchName=${searchName})}"
       th:text="#{paging.pre}"
    ></a>
    <span th:text="${studentPage.number +1}"></span>/<span th:text="${studentPage.totalPages}"></span>
    <a th:if="${studentPage.hasNext()}"
       th:href="@{/students(page=${studentPage.number +1},searchName=${searchName})}"
       th:text="#{paging.next}"
    ></a>
</div>

</body>
</html>
